<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Document</title>
</head>

<body>
    <div class="dom">
        <div class="child">
            <div class="head">
                <img src="/image/logo.png" alt="">
                <h1>Login</h1>
                <a href="/SignIn">Sign In</a>
            </div>
            <form action="/log" method="post">
                <div class="N">
                    <label for="email">Email *</label>
                    <input type="email" placeholder="Enter Your Email" id="email" name="email" required>
                </div>
                <div class="N">
                    <label for="password">Password *</label>
                    <input type="password" placeholder="Enter Your password" id="password" name="password" required>
                </div>
                <div class="N">
                    <button type="submit">Login</button>
                </div>
            </form>

        </div>
    </div>
</body>

</html>